* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-2 {
    background-color: white;
    max-width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    flex-wrap: wrap;
    text-align: center;
}

.card-style-2 .logo {
    margin-top: 20px;
}

.card-style-2 .brand-name {
    font-size: 26px;
    margin-left: 125px;
    margin-top: 20px;
}

.card-style-2 img {
    width: 200px;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
}

.card-style-2 p {
    text-align: center;
    padding: 25px;
}

.card-style-2 .animagram-footer {
    font-size: 25px;
    margin-bottom: 20px;
}

.card-style-2 .animagram-footer span {
    margin: 15px;
}



