#rp {
    font-family: sans-serif;
    text-align: center;
}
#rpc-1 {
    background-color: #9A031E;
    color: white;
    font-family: sans-serif;
    text-align:center;
    padding: 24px;
    
}
#rpc-2 {
    background-color: #FFBA08;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#rpc-3 {
    background-color: #03045E;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#ih {
    font-family: sans-serif;
    text-align: center;
}
#ihc-1 {
    background-color: #001219;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#ihc-2 {
    background-color: #38B000;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#ihc-3 {
    background-color: #9055A2;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#aqua {
    font-family: sans-serif;
    text-align: center;
}
#aqua-1 {
    background-color: #DF8C00;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#aqua-2 {
    background-color: #F89317;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#aqua-3 {
    background-color: #DCFF00;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#aqua-4 {
    background-color: #0B6900;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#aqua-5 {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
